@import "compass/reset";
@import "compass/css3/images";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/box-sizing";

*, *:after, *:before {
    @include box-sizing(border-box);
}

@mixin animation-props($duration, $name, $count){
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $name;
    -webkit-animation-iteration-count: $count;
    -moz-animation-duration: $duration;
    -moz-animation-name: $name;
    -moz-animation-iteration-count: $count;
}

.wrapper { 
    position: absolute; 
    top: 0;
    bottom: 0;
 }
.page {
    padding: 3em;
    display: table;
    height: 100%;
    width: 1280px;
 }

.loader {
    opacity: 0;
    margin-top: 1em;
    text-align: center;
    &.begin { opacity: 1;}
}

.container {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.row { 
    position: relative;
    font-size: 3em;
    overflow: hidden;
    line-height: 1.2;
    font-family: "Helvetica Neue", arial, sans-serif;
    font-weight: 600;
    min-height: 50px;
}
.blind {
    //position: absolute;
    //width: 100%;
    //z-index: 5;
    //height: 400%;
    @include transition(opacity 2000ms ease-out);
    //@include background-image(linear-gradient(rgba(255,255,255,0), white 50%));
}


.opened {
    //@include translateY(50%);
    opacity: 1;
}

.closed {
    //@include translateY(-50%);
    opacity: 0;
}

//               ________________
//              |                |
//              |                |
//   h1.out <-  |     h1.in <-   |    <- h1.next
//              |                |
//              |________________|

h1 {
    position: absolute;
    top: 0;
    @include translate3d(0,0,0);
}

.in {
    
}

.out {}

.next{}
