@import "compass/reset";
@import "compass/css3/images";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/box-sizing";

*, *:after, *:before {
    @include box-sizing(border-box);
}

@mixin animation-props($duration, $name, $count){
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $name;
    -webkit-animation-iteration-count: $count;
    -moz-animation-duration: $duration;
    -moz-animation-name: $name;
    -moz-animation-iteration-count: $count;
}

.wrapper { 
    position: absolute; 
    top: 0;
    bottom: 0;
 }
.page {
    padding: 3em;
    height: 100%;
    width: 1280px;
 }


.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

h1 {
    display: table-cell;
    vertical-align: middle;
}

.blind { 
    font-size: 3em;
    font-family: "Helvetica Neue", arial, sans-serif;
    font-weight: 600;
    min-height: 50px;
    @include transition(opacity 2000ms ease-out);
}


.opened {
    //@include translateY(50%);
    opacity: 1;
}

.closed {
    //@include translateY(-50%);
    opacity: 0;
}

.loader {
    opacity: 0;
    margin-top: 1em;
    text-align: center;
    &.begin { opacity: 1;}
}

//               ________________
//              |                |
//              |                |
//   h1.out <-  |     h1.in <-   |    <- h1.next
//              |                |
//              |________________|


.next{
    @include translate3d(200%,0,0);
}
.in {
    @include translate3d(0,0,0);
}

.out {
    @include translate3d(-200%,0,0);
}

