.page { padding: 1em; }
.container {
    position: relative;
}

.row { position: relative; }
.blind {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 5;
    background: white;
    transition: opacity 500ms ease-out;
}

.opened { opacity: 0; }
.closed { opacity: 1; }
